{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 d-flex flex-column align-items-center">
        {% if product.images.all %}
            <div class="main-image-wrapper mb-3" style=" width: 400px;  
            height: 400px;        
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f9f9f9;  
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;  
            ">
                <img id="mainImage"
                     src="{{ product.images.first.image.url }}"
                     class="main-product-image" 
                     alt="{{ product.name }}"
                     style="
                      width: 100%;
                      height: 100%;
                      object-fit: contain;
                     ">
            </div>
            <div class="d-flex flex-wrap justify-content-center">
                {% for image in product.images.all %}
                    <img src="{{ image.image.url }}"
                         class="img-thumbnail me-2 mb-2"
                         style="width: 80px; height: 80px; object-fit: cover; cursor: pointer;"
                         onclick="document.getElementById('mainImage').src=this.src">
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <h3>{{ product.price }} ₽</h3>

        <form method="post" action="{% url 'orders:cart_add' product.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">В корзину</button>
        </form>
    </div>
</div>

{% endblock %}

